@import "tailwindcss" source(none);
@source "./main.tsx";
@source "./client.js";

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    background: #fbfcff;
  }
}
